/* ./src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}


.max-height-percentage-table {
  max-height: 65vh;
  overflow-y: auto;
}


.overflow-x-auto {
  overflow-x: auto;
}


.responsive-table-height {
  height: 76vh;
}

@media (max-width: 1536px) {
  .responsive-table-height {
    height: 12vh;
  }
}

@media (max-width: 1280px) {
  .responsive-table-height {
    height: 90vh;
  }
}

@media (max-width: 1024px) {
  .responsive-table-height {
    height: 55vh;
  }
}

@media (max-width: 768px) {
  .responsive-table-height {
    height: 45vh;
  }
}

@media (max-width: 480px) {
  .responsive-table-height {
    height: 50vh;
  }
}